# Project-wide ignore rules --------------------------------------------------

# Backup files created by sed during in-place edits
*.bak

# Python
__pycache__/
*.py[cod]

# IDEs/editors
.vscode/
.idea/

# Logs
logs/

# virtual environments
.venv/
env/

# Pytest coverage data
.coverage
coverage.xml
